<package-def>
	<module name="ПраваПользователяХранилища" file="src/ПраваПользователяХранилища.os"/>
    <module name="РежимВыгрузкиКонфигурации" file="src/РежимВыгрузкиКонфигурации.os"/>
    <module name="ТипыГруппировкиОтчетаПоВерсиямХранилища" file="src/ТипыГруппировкиОтчетаПоВерсиямХранилища.os"/>
    <module name="ТипыОтчетовОСравнении" file="src/ТипыОтчетовОСравнении.os"/>	
	<class name="УправлениеКонфигуратором" file="src/v8runner.os"/>
	<class name="КонфигурацияСтартера" file="src/v8config-file.os"/>
</package-def>